@model BanQuitoPassport.Models.USUARIO
@{
    ViewBag.Title = "Editar Usuario";
}

<h2>Editar Usuario</h2>

@using (Html.BeginForm("EditarUsuario", "Usuarios", FormMethod.Post))
{
    <div class="row">
        <div class="col-md-12">
            @Html.HiddenFor(d => d.ID_USUARIO)
            @Html.HiddenFor(d => d.ID_ROL)
            @Html.HiddenFor(d => d.ID_AUDITORIA)
            @Html.HiddenFor(d => d.ID_EMPLEADO)
            @Html.HiddenFor(d => d.ID_ESTADO)
            @Html.LabelFor(d => d.IDENTIFICADOR)
            @Html.TextBoxFor(d => d.IDENTIFICADOR, "", new { @class = "form-control " })
            @Html.LabelFor(d => d.CONTRASENA)
            @Html.TextBoxFor(d => d.CONTRASENA, "", new { @class = "form-control " })
            <br />
            <div style="text-align:right;">
                <input value="Guardar" class="btn btn-primary" type="submit" />
            </div>
        </div>

    </div>
}