@model List<BanQuitoPassport.Models.DatosUsuario>
@{
    ViewBag.Title = "Gestionar usuarios del sistema";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Página para realizar el crud de los usuarios</p>

<div class="row" style="text-align:right;padding:5px">
    <a href="~/Usuarios/NuevoUsuario" class="btn btn-primary"> Nuevo Usuario </a>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table">
            <tr>
                <th>@Html.LabelFor(d => Model.FirstOrDefault().emp.NOMBRE)</th>
                <th>@Html.LabelFor(d => Model.FirstOrDefault().emp.APELLIDO)</th>
                <th>@Html.LabelFor(d => Model.FirstOrDefault().emp.CEDULA)</th>
                <th>@Html.LabelFor(d => Model.FirstOrDefault().emp.DIRECCION)</th>
                <th>@Html.LabelFor(d => Model.FirstOrDefault().emp.MAIL)</th>
                <th>@Html.LabelFor(d => Model.FirstOrDefault().emp.TELEFONO)</th>
                <th>@Html.LabelFor(d => Model.FirstOrDefault().us.IDENTIFICADOR)</th>
                <th>@Html.LabelFor(d => Model.FirstOrDefault().us.CONTRASENA)</th>
                <th>@Html.LabelFor(d => Model.FirstOrDefault().est.NOMBREE)</th>
            </tr>

            @foreach (BanQuitoPassport.Models.DatosUsuario elemento in Model)
            {
                <tr>
                    <td> @elemento.emp.NOMBRE </td>
                    <td> @elemento.emp.APELLIDO </td>
                    <td> @elemento.emp.CEDULA </td>
                    <td> @elemento.emp.DIRECCION </td>
                    <td> @elemento.emp.MAIL </td>
                    <td> @elemento.emp.TELEFONO </td>
                    <td> @elemento.us.IDENTIFICADOR </td>
                    <td> @elemento.us.CONTRASENA </td>
                    <td> @elemento.est.NOMBREE </td>
                    <td>
                        <a class="btn btn-primary" href="~/Usuarios/EditarUsuario/?id=@elemento.us.ID_USUARIO">Editar</a>
                        <a class="btn btn-danger" href="~/Usuarios/EliminarUsuario/?id=@elemento.us.ID_USUARIO">Eliminar</a>
                    </td>
                </tr>
            }

        </table>
    </div>

</div>
