@model BanQuitoPassport.Models.DatosUsuario
@{
    ViewBag.Title = "NuevoUsuario";
}

<h2>Nuevo Usuario</h2>

@using (Html.BeginForm("NuevoUsuario", "Usuarios", FormMethod.Post))
{
<div class="row">
    <div class="col-md-12">
        @Html.LabelFor(d => d.emp.NOMBRE)
        @Html.TextBoxFor(d => d.emp.NOMBRE, "", new { @class = "form-control " })
        @Html.LabelFor(d => d.emp.APELLIDO)
        @Html.TextBoxFor(d => d.emp.APELLIDO, "", new { @class = "form-control " })
        @Html.LabelFor(d => d.emp.CEDULA)
        @Html.TextBoxFor(d => d.emp.CEDULA, "", new { @class = "form-control " })
        @Html.LabelFor(d => d.emp.DIRECCION)
        @Html.TextBoxFor(d => d.emp.DIRECCION, "", new { @class = "form-control " })
        @Html.LabelFor(d => d.emp.MAIL)
        @Html.TextBoxFor(d => d.emp.MAIL, "", new { @class = "form-control " })
        @Html.LabelFor(d => d.emp.TELEFONO)
        @Html.TextBoxFor(d => d.emp.TELEFONO, "", new { @class = "form-control " })
        @Html.LabelFor(d => d.us.IDENTIFICADOR)
        @Html.TextBoxFor(d => d.us.IDENTIFICADOR, "", new { @class = "form-control " })
        <br />
        <div style="text-align:right;">
            <input value="Guardar" class="btn btn-primary" type="submit" />
        </div>
    </div>

</div>
}